.amenities h2, .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.amenities ul, .reviews ul {
    list-style-type: none;
    padding-left: 0;
}

.amenities li {
    background-repeat: no-repeat;
    background-size: 20px 20px; /* Icon size */
    padding-left: 25px; /* Space for icon */
    background-position: left center;
    margin-bottom: 5px;
}

.tv {
    background-image: url('web_static/images/icon_tv.png');
}

.wifi {
    background-image: url('web_static/images/icon_wifi.png');
}

.pet_friendly {
    background-image: url('web_static/images/icon_pets.png');
}

.reviews li h3 {
    font-size: 14px;
}

.reviews li p {
    font-size: 12px;
}